@use "global" as *;

// アクセス
.access {
  padding-top: rem(100);
  padding-bottom: rem(60);
  background-color: #fefefe;
  @include mq(md) {
    padding-top: rem(160);
    padding-bottom: rem(80);
  }
}

.access__inner {
  @include mq(md) {
  }
}

.access__header {
  text-align: center;
  @include mq(md) {
  }
}

.access__label {
  font-size: rem(16);
  font-weight: $normal;
  color: $color-accent;
  font-family: $second-font-family;
  @include mq(md) {
    font-size: rem(18);
  }
}

.access__title {
  font-size: rem(28);
  font-weight: $bold;
  text-align: center;
  color: $color-main;
  margin-top: rem(8);
  @include mq(md) {
    font-size: rem(36);
    margin-top: rem(12);
  }
}

.access__address {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    margin-top: rem(50);
  }
}

.access__address-title {
  display: inline-block;
  font-size: rem(14);
  font-weight: $bold;
  color: $black;
  background-color: #e8f0f5;
  padding: rem(8) rem(24);
  border-radius: rem(20);
  @include mq(md) {
    font-size: rem(16);
    padding: rem(10) rem(32);
    border-radius: rem(24);
  }
}

.access__text {
  font-size: rem(18);
  font-weight: $bold;
  text-align: center;
  color: $black;
  margin-top: rem(20);
  @include mq(md) {
    font-size: rem(20);
    margin-top: rem(24);
  }
}

.access__text-note {
  font-size: rem(16);
  font-weight: $bold;
  text-align: center;
  color: $black;
  margin-top: rem(8);
}
.access__note {
  font-size: rem(13);
  text-align: center;
  color: #666;
  line-height: 1.8;
  margin-top: rem(16);
  @include mq(md) {
    font-size: rem(14);
    margin-top: rem(20);
  }
}

.access__map {
  max-width: rem(800);
  margin-left: auto;
  margin-right: auto;
  border-radius: rem(8);
  overflow: hidden;
  box-shadow: 0 rem(4) rem(12) rgba(0, 0, 0, 0.1);
  margin-top: rem(32);
  @include mq(md) {
    border-radius: rem(12);
    box-shadow: 0 rem(6) rem(16) rgba(0, 0, 0, 0.12);
    margin-top: rem(40);
  }
}

.access__map iframe {
  display: block;
  width: 100%;
  height: rem(300);
  border: none;
  @include mq(md) {
    height: rem(450);
  }
}
