@use "global" as *;

// フッター
.footer {
  margin-top: rem(80);
  padding-top: rem(40);
  padding-bottom: rem(40);
  background-color: $black;
  @include mq(md) {
    padding-top: rem(48);
    padding-bottom: rem(48);
  }
}

.footer__inner {
  text-align: center;
  @include mq(md) {
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(4);
  @include mq(md) {
    flex-direction: row;
    align-items: baseline;
    gap: rem(8);
  }
}

.footer__copyright-main {
  font-size: rem(14);
  font-weight: $bold;
  color: $white;
  font-family: $second-font-family;
  letter-spacing: rem(2);
  @include mq(md) {
    font-size: rem(16);
    letter-spacing: rem(3);
  }
}

.footer__copyright-sub {
  font-size: rem(11);
  font-weight: $normal;
  color: $white;
  opacity: 0.8;
  @include mq(md) {
    font-size: rem(12);
  }
}
