@use "global" as *;

// ファーストビュー
.fv {
  margin-top: 0;
  padding-top: rem(80);
  padding-bottom: rem(80);
  background-color: #f5f5f5;
  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(120);
  }
}

.fv__inner {
  text-align: center;
  @include mq(md) {
    text-align: center;
  }
}

.fv__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem(24);
  @include mq(md) {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: rem(16);
    margin-bottom: rem(32);
  }
}

.fv__logo-main {
  font-size: rem(48);
  font-weight: $bold;
  color: $color-main;
  font-family: $second-font-family;
  letter-spacing: rem(4);
  margin-bottom: rem(8);
  @include mq(md) {
    font-size: rem(64);
    letter-spacing: rem(6);
    margin-bottom: 0;
  }
}

.fv__logo-sub {
  font-size: rem(14);
  font-weight: $normal;
  color: $black;
  @include mq(md) {
    font-size: rem(16);
  }
}

.fv__title {
  font-size: rem(32);
  font-weight: $bold;
  line-height: 1.6;
  color: $black;
  margin-bottom: rem(24);
  @include mq(md) {
    font-size: rem(48);
    line-height: 1.5;
    margin-bottom: rem(32);
  }
}

.fv__title-br {
  @include mq(md) {
    display: none;
  }
}

.fv__text {
  font-size: rem(16);
  line-height: 1.8;
  color: $black;
  margin-bottom: rem(16);
  @include mq(md) {
    font-size: rem(18);
    line-height: 1.8;
    margin-bottom: rem(20);
  }
}

.fv__text--sub {
  font-size: rem(14);
  margin-bottom: rem(32);
  @include mq(md) {
    font-size: rem(16);
    margin-bottom: rem(40);
  }
}

.fv__button-wrapper {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.fv__button {
  display: inline-block;
  padding: rem(16) rem(40);
  font-size: rem(16);
  font-weight: $bold;
  color: $white;
  background-color: $color-accent;
  border-radius: rem(30);
  text-decoration: none;
  transition: opacity 0.3s;
  @include mq(md) {
    padding: rem(20) rem(60);
    font-size: rem(18);
    border-radius: rem(35);
  }
}

.fv__button:hover {
  opacity: 0.8;
}