@use "global" as *;

// ギャラリー
.gallery {
  margin-top: rem(80);
  padding-top: rem(60);
  padding-bottom: rem(60);
  background-color: #f9f9f9;
  @include mq(md) {
    margin-top: rem(120);
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.gallery__inner {
  @include mq(md) {
  }
}

.gallery__header {
  text-align: center;
  @include mq(md) {
  }
}

.gallery__label {
  font-size: rem(16);
  font-weight: $normal;
  color: $color-accent;
  font-family: $second-font-family;
  @include mq(md) {
    font-size: rem(18);
  }
}

.gallery__title {
  font-size: rem(28);
  font-weight: $bold;
  text-align: center;
  color: $color-main;
  margin-top: rem(8);
  @include mq(md) {
    font-size: rem(36);
    margin-top: rem(12);
  }
}

.gallery__text {
  font-size: rem(14);
  text-align: center;
  color: $black;
  margin-top: rem(40);
  @include mq(md) {
    font-size: rem(16);
    margin-top: rem(60);
  }
}

.gallery__items {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(8);
  margin-top: rem(40);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__image {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
