@use "global" as *;

// ギャラリー
.gallery {
  margin-top: rem(80);
  padding-top: rem(60);
  padding-bottom: rem(60);
  background-color: #f9f9f9;
  @include mq(md) {
    margin-top: rem(120);
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.gallery__inner {
  @include mq(md) {
  }
}

.gallery__title {
  font-size: rem(28);
  font-weight: $bold;
  text-align: center;
  color: $color-main;
  margin-bottom: rem(16);
  @include mq(md) {
    font-size: rem(36);
    margin-bottom: rem(20);
  }
}

.gallery__text {
  font-size: rem(14);
  text-align: center;
  color: $black;
  margin-bottom: rem(40);
  @include mq(md) {
    font-size: rem(16);
    margin-bottom: rem(60);
  }
}

.gallery__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(24);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(32);
  }
}

.gallery__item {
  @include mq(md) {
  }
}

.gallery__image {
  width: 100%;
  height: auto;
  border-radius: rem(8);
  object-fit: cover;
  @include mq(md) {
    border-radius: rem(12);
  }
}
