@use "global" as *;

// 料金
.price {
  margin-top: rem(80);
  padding-top: rem(60);
  padding-bottom: rem(60);
  background-color: #fafafa;
  @include mq(md) {
    margin-top: rem(120);
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.price__inner {
  @include mq(md) {
  }
}

.price__title {
  font-size: rem(28);
  font-weight: $bold;
  text-align: center;
  color: $color-main;
  margin-bottom: rem(40);
  @include mq(md) {
    font-size: rem(36);
    margin-bottom: rem(60);
  }
}

.price__card {
  @include mq(md) {
  }
}
